<h2>Meet the Pod</h2>
<div class="card-container">
    {% for item in site.data.fellows %}
    <div class="card">
        <div class="info">
            <p class="title"> {{ item.name }}</p>
            <p class="location"> {{ item.location }}</p>
            <div class="card__social-container">
                <a href="#">
                    <svg class="card__social-link">
                        <use xlink:href="assets/img/sprite.svg#icon-linkedin"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="card__social-link">
                        <use xlink:href="assets/img/sprite.svg#icon-twitter"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="card__social-link">
                        <use xlink:href="assets/img/sprite.svg#icon-profile"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="card__social-link">
                        <use xlink:href="assets/img/sprite.svg#icon-github"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>