<div class="footer">
    <div class="left-section">
        <img class="logo" src="./assets/img/mlh-prep.png"/>
    </div>
    <div class="right-section">
  <div class="social-links">
    <a href="https://www.linkedin.com/school/mlh-fellowship/"
      ><em class="fab fa-linkedin fa-2x links"></em
    ></a>
    <a href="https://www.instagram.com/mlhacks/"
      ><em class="fab fa-instagram fa-2x links"></em
    ></a>
    <a
      href="https://twitter.com/MLHacks?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
      ><em class="fab fa-twitter fa-2x links"></em
    ></a>
    <a href="https://www.facebook.com/MajorLeagueHacking"
      ><em class="fab fa-facebook fa-2x links"></em
    ></a>
    <a href="https://www.youtube.com/c/Majorleaguehacking"
      ><i class="fab fa-youtube fa-2x links"></i
    ></a>
  </div>
  <div class="list">
    <p class="item"><a class="item" href="{{ '/blog' }}">Blog</a></p>
    <p class="item"><a class="item" href="{{ '#description' }}">About</a></p>
    <p class="item"><a class="item" href="{{ '#projects' }}">Projects</a></p>
  </div>
</div>
</div>
