@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import 'navbar';
@import 'profile';
@import 'page';
@import 'fellows';
@import 'footer';
@import 'fellow-page';

:root {
  /* Light mode variables */
  --light-background-color: #f5f5f9;
  --light-card-color: white;
  --light-font-color: black;
  --light-banner-color: #133667;
  /* Dark mode variables */
  --dark-background-color: #181818;
  --dark-card-color: #282828;
  --dark-font-color: #808080;
  --dark-banner-color: #080808;

  --background-color: var(--light-background-color);
  --card-color: var(--light-card-color);
  --font-color: var(--light-font-color);
  --banner-color: var(--light-banner-color);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
}

@media only screen and (max-width: 1500px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}


body {
  background-color: var(--background-color);
  margin-bottom: 50px;
}

h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--font-color);
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 30px;
  background-color: var(--card-color);
  border-radius: .375rem;
  padding: 1.5em;
  font-size: 1.2em;
}

.card {
  &__social-container {
    display: flex;
    gap: 1rem;
  }

  &__social-link {
    width: 1.2rem;
    aspect-ratio: 1;
    transition: fill .3s;

    &:hover {
      fill: #133667;
    }
  }
}

a {
  color: var(--font-color);
}

.info {
  p {
    margin-top: 5px;
    margin: 0px;
    text-align: left;
  }

  .title {
    color: var(--font-color);
    font-size: 500;
    font-weight: bold;
  }

  .location,
  .description {
    color: var(--font-color);
    font-size: medium;
    font-weight: 400;
  }

    .dates {
        font-size: small;
        color: #404040;
    }
        
    .image {
        padding-bottom: 10px;
        text-align: center;
        width: 100%;
    }

    .author {
        font-size: 0.9em;
        margin-bottom: 5px;
    }

    .description{
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid black;
    }

    .github p{
        text-align: center;
        margin-top: 25px;
    }
}

.icon {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  padding: 10px;

  img {
    width: 100%;
  }
}