.footer {
  width: 100%;
  height: fit-content;
  background-color: #133667;
  font-family: "Poppins", serif;
  font-weight: 700 !important;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: space-evenly;
  color: white;
}
.left-section
{
  display: flex; 
  align-items: center; 
}
.right-section
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.links:hover {
  color: white;
}
.logo {
  height: 80px;
}
.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.list
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.item
{
  margin: 0;
}
.item:hover {
  color: white;
  text-decoration: none;
}
.fab {
  gap: 100px;
}

@media only screen and (max-width: 550px){
  .footer {
    width: 100%;
    height: fit-content;
    background-color: #133667;
    font-family: "Poppins", serif;
    font-weight: 700 !important;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
  }
  .left-section
{
  display: flex; 
  flex-direction: column;
  align-items: center; 
  padding-bottom: 10px;
}
.right-section
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.list
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 10px;
}
}
