.profile {
    background-size: cover; 
    background-position: center;
    background-color: #133667 !important;
    text-align: center;
    height: 370px; //I changed the height
    margin-bottom: 50px;

    h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
        margin-top: 80px;

    }
    
    img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
        display: inline;        
        padding: 20px;
    }
    
    .profile-picture {
        margin-bottom: 30px;
        height: 200px;
    }
}
